<div class="article-list">
	<article>
		<header>
			<h1>
				<a href="">Daniel Went From Personal Trainer to Front End Web Developer in 6 Months</a>
			</h1>
			<div class="entry-meta">
				<span class="vcard">
					<a href="" class="author">Faye Bridge</a>
				</span>
				<span class="bullet">●</span>
				2015.06.24
				<span class="cat-links">
					<span class="bullet">●</span>
					<a href="">Community</a>
				</span>
				<span class="bullet">●</span>
				<span class="comment">
					<a href="">9个评论</a>
				</span>
			</div>
		</header>
		<div class="entry-content">
			<div class="content-wrap">
				<p>
					Daniel was working as a personal trainer and fitness manager but had reached a point where there was no room for growth in his career. So he set out in search of a brand new career path. Even though Daniel was working as a personal trainer and fitness manager but had reached a point where there Daniel was working as a personal trainer and fitness manager but had reached a point where there 
				</p>
				
				<span class="continue-reading">
					<a href="" ng-click="goToDetail()">
						继续阅读
						<span class="meta-nav">→</span>
					</a>
				</span>
			</div>
		</div>
	</article>
	<article>
		<header>
			<h1>
				<a href="">Daniel Went From Personal Trainer to Front End Web Developer in 6 Months</a>
			</h1>
			<div class="entry-meta">
				<span class="vcard">
					<a href="" class="author">Faye Bridge</a>
				</span>
				<span class="bullet">●</span>
				2015.06.24
				<span class="cat-links">
					<span class="bullet">●</span>
					<a href="">Community</a>
				</span>
				<span class="bullet">●</span>
				<span class="comment">
					<a href="">9个评论</a>
				</span>
			</div>
		</header>
		<div class="entry-content">
			<div class="content-wrap">
				<p>
					Daniel was working as a personal trainer and fitness manager but had reached a point where there was no room for growth in his career. So he set out in search of a brand new career path. Even though Daniel was working as a personal trainer and fitness manager but had reached a point where there Daniel was working as a personal trainer and fitness manager but had reached a point where there 
				</p>
				
				<span class="continue-reading">
					<a href="">
						继续阅读
						<span class="meta-nav">→</span>
					</a>
				</span>
			</div>
		</div>
	</article>
	<article>
		<header>
			<h1>
				<a href="">Daniel Went From Personal Trainer to Front End Web Developer in 6 Months</a>
			</h1>
			<div class="entry-meta">
				<span class="vcard">
					<a href="" class="author">Faye Bridge</a>
				</span>
				<span class="bullet">●</span>
				2015.06.24
				<span class="cat-links">
					<span class="bullet">●</span>
					<a href="">Community</a>
				</span>
				<span class="bullet">●</span>
				<span class="comment">
					<a href="">9个评论</a>
				</span>
			</div>
		</header>
		<div class="entry-content">
			<div class="content-wrap">
				<p>
					Daniel was working as a personal trainer and fitness manager but had reached a point where there was no room for growth in his career. So he set out in search of a brand new career path. Even though Daniel was working as a personal trainer and fitness manager but had reached a point where there Daniel was working as a personal trainer and fitness manager but had reached a point where there 
				</p>
				
				<span class="continue-reading">
					<a href="">
						继续阅读
						<span class="meta-nav">→</span>
					</a>
				</span>
			</div>
		</div>
	</article>
</div>