<header class="top-header">
	<div class="header-inner container">
		<div class="logo">
			互娱前端 <span>blog</span>
		</div>
		<div class="search-container">
			<form>
				<input type="text" placeholder="Search" />
				<input type="submit" value="🔎">
			</form>
		</div>
		<div class="main-nav">
			<ul>
				<li>
					<a href="">所有博文</a>
				</li>
				<li>
					<a href="">HTML/CSS</a>
				</li>
				<li>
					<a href="">JavaScript</a>
				</li>
				<li>
					<a href="">深究系列</a>
				</li>
				<li>
					<a href="">热门研究</a>
				</li>
			</ul>
		</div>
		<div class="stripes">
			<span class="stripe item1"></span>
			<span class="stripe item2"></span>
			<span class="stripe item3"></span>
			<span class="stripe item4"></span>
			<span class="stripe item5"></span>
			<span class="stripe item6"></span>
			<span class="stripe item7"></span>
			<span class="stripe item8"></span>
			<span class="stripe item9"></span>
			<span class="stripe item10"></span>
			<span class="stripe item11"></span>
			<span class="stripe item12"></span>
			<span class="stripe item13"></span>
			<span class="stripe item14"></span>
			<span class="stripe item15"></span>
			<span class="stripe item16"></span>
			<span class="stripe item17"></span>
			<span class="stripe item18"></span>
			<span class="stripe item19"></span>
			<span class="stripe item20"></span>
			<span class="stripe item21"></span>
			<span class="stripe item22"></span>
			<span class="stripe item23"></span>
			<span class="stripe item24"></span>
			<span class="stripe item25"></span>
			<span class="stripe item26"></span>
			<span class="stripe item27"></span>
			<span class="stripe item28"></span>
			<span class="stripe item29"></span>
			<span class="stripe item30"></span>
			<span class="stripe item31"></span>
			<span class="stripe item32"></span>
			<span class="stripe item33"></span>
			<span class="stripe item34"></span>
			<span class="stripe item35"></span>
			<span class="stripe item36"></span>
			<span class="stripe item37"></span>
			<span class="stripe item38"></span>
			<span class="stripe item39"></span>
			<span class="stripe item40"></span>
			<span class="stripe item41"></span>
			<span class="stripe item42"></span>
			<span class="stripe item43"></span>
			<span class="stripe item44"></span>
			<span class="stripe item45"></span>
			<span class="stripe item46"></span>
			<span class="stripe item47"></span>
			<span class="stripe item48"></span>
			<span class="stripe item49"></span>
			<span class="stripe item50"></span>
		</div>
	</div>
</header>
<div class="container" style="padding-top:20px;">
      <div class="row">
      	<div class="col-md-8">
      		<div ui-view></div>
      	</div>
      	<div class="col-md-4">
      		<div class="personal">
      			<div class="no-sign">
      				<h4><a href="/center/my">kebin</a></h4>
      				<h4>亲，还未登录喔!</h4>
      				<div class="sign-register">
      					<button type="button" class="btn btn-default" ng-click="signIn()">登录</button>
      					<a class="regist" ng-click="regist()">注册</a>
      				</div>
      			</div>
      		</div>
      	</div>
      </div>
</div>