.cover-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.left-aside {
	.bottom-block {
	  position: absolute;
	  bottom: 0;
	  padding: 30px;
	  color: white;
		
	h1,h3{
		line-height: 40px;
	}
	  h1{
	  	  padding-bottom: 5px;
	  }
	  h3{
	  	padding-bottom:10px;
	  }
	  p{
	  	margin-bottom:20px;
	  }

	  .btn-green{
	  	text-align: center;
		  color: white;
		  border-color: #49be38;
		  background: #49be38;
		  margin-top:10px;
		  &:hover{
		  	background-color: #69BA5D;
		  }
	  }
	}
}

.list-content{
	width: 957px;
	.sort-nav{
		@extend %clearfix;
		padding-left: 32px;
	    margin-top: 50px;
	    padding: 13px 0 0 20px;
	    margin-bottom: 0;
	    li{
	    	float: left;
  			margin: 10px 15px 5px 0;

  			a{
  				  padding: 5px 10px;
				  border: 1px solid #d9d9d9;
				  border-radius: 14px;
				  box-sizing: border-box;
				  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
				  font-size: 12px;
				  font-weight: normal;
				  line-height: 1.5;
  			}

  			&.active a{
  				  color: white;
				  border-color: #e78170;
				  background: #e78170;
  			}
	    }
	}
	.article-list-wrap{
		  @extend %clearfix;
		  padding-left: 36px;
  		  margin: 35px 0 0;
  		  li{
  		  	  @extend %clearfix;
  		  	  float: left;
  		  	  position: relative;
			  width: 100%;
			  padding-right: 2px;
			  padding-bottom: 17px;
			  margin: 0 0 17px;
			  border-bottom: 1px dashed #d9d9d9;
			  box-sizing: border-box;
			  word-wrap: break-word;

			  .list-top{
			  	  margin: 8px 0;
  				  font-size: 12px;

  				  .time{
  				  	  margin-left: 3px;
  					  color: #717171;
  				  }
			  }

			  .title{
			  	  margin-top: 0;
				  margin-bottom: 10px;
				  margin-left: 0;
				  display: inherit;
				  font-size: 18px;
				  font-weight: bold;
				  line-height: 1.5;

				  a:hover{
				  	color:#0B0B0B;
				  }
			  }
			  .list-footer{
			  	  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
				  font-size: 12px;
				  font-weight: normal;
				  line-height: 20px;

				  a,span{
				  	  color: #999999;
				  }
			  }
  		  }
	}
}
